<div class="mt-5" *ngIf="peliculas !=null; else espera">
  <div class="row">
    <div class="col">
      <h1>{{titulo}}</h1>
    </div>
    <div class="col">
      <form class="d-flex align-middle">
        <input class="form-control me-2" placeholder="Search" aria-label="Search" name="term" #term>
        <a routerLink="/peliculas/{{term.value}}" class="btn btn-outline-success">Search</a>
      </form>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col py-3" *ngFor="let pel of peliculas.results">
      <div class="card mx-auto">
        <span class="bg-img" [ngStyle]="{'background': 'url(https://image.tmdb.org/t/p/w220_and_h330_face'+ pel.poster_path +')' }"></span>
        <div class="card-body">
          <h5 class="card-title">{{pel.title}}</h5>
          <a href routerLink="/pelicula/{{ pel.id }}" class="btn btn-primary">Ver más</a>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #espera>Esperando datos</ng-template>
