<div *ngIf="peliculas !=null; else espera">
  <div class="row mt-2">
    <div class="col py-3" *ngFor="let pel of peliculas.results">
      <div class="card mx-auto">
        <span class="bg-img" [ngStyle]="{'background': 'url(https://image.tmdb.org/t/p/w220_and_h330_face'+ pel.poster_path +')' }"></span>
        <div class="card-body">
          <h5 class="card-title">{{pel.title}}</h5>
          <a href routerLink="/pelicula/{{ pel.id }}" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #espera>Esperando datos</ng-template>
